<html>
    <head>
        <title>ML Web App</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <form method="POST" action="http://localhost:8000/predict" enctype="multipart/form-data">
            <div style="display: flex;width:600px;margin-left: auto;margin-right: auto;">
                <div class="parent-div">
                    <button class="btn-upload">Dataset</button>
                    <input type="file" name="dataset" onchange="setDatasetPath();" id="dataset">
                    <input type="hidden" name="dataset_path" id="dataset_path">
                </div>
                <div class="parent-div">
                    <select name="classifier">
                        <option value="">Classifier</option>
                        <option value="knn">KNN</option>
                        <option value="naive-bayes">Naive Bayes</option>
                        <option value="decision-tree">Decision Tree</option>
                    </select>
                </div>
                <div class="parent-div">
                    <input type="submit" name="submit" value="Result">
                </div>
            </div>
        </form>
        <div style="width:600px;margin-left: auto;margin-right: auto;margin-top: 10px;font-size: 18px;">
        {%if (dataset):%} 
            Dataset : {{dataset}}<br>
            Classifier : {{classifier}}<br>
            Accuracy : {{accuracy}}<br>
            Confusion Matrix :<br>
            {%for i in confusion_matrix:%}
                {% print(i) %}<br>
            {%endfor%}
            <br>
            Classification Report : <br>
            {{classification_report | safe}}<br>
        {%endif%}
        {%if (decision_tree):%}    
                <img src="{{url_for('static', filename='decision_tree.jpg')}}" width="100%" />   
        {%endif%}
        </div>
        <script>
            function setDatasetPath(){
                var dataset = document.getElementById("dataset");
                var dataset_path = document.getElementById("dataset_path");
                dataset_path.value = dataset.value;
                
            }
        </script>
    </body>
</html>